<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @contact_action.description %>
</p>


<%= link_to 'Edit', edit_contact_action_path(@contact_action) %> |
<%= link_to 'Back', contact_actions_path %>
