<p id="notice"><%= notice %></p>

<p>
  <b>Episodestatus:</b>
  <%= @episode_status.episodestatus %>
</p>


<%= link_to 'Edit', edit_episode_status_path(@episode_status) %> |
<%= link_to 'Back', episode_statuses_path %>
