<H2>Referral history<small> for <%= "#{@client.fullname}" %></small>
  <%= link_to t('.add_referral', :default => t("helpers.links.add_referral")),
						  new_episode_path(:client_id => @client), :class => 'btn' %>
</H2>

<table class="table table-condensed">
  <thead>
    <% if current_user.account.file_no_per_episode %>
      <th>File no</th>
    <% end %>
		<th colspan="1">Event</th>
		<th>Status</th>
  </thead>
  <tbody>
		<%= render :partial => 'episode', :collection => @episodes, :locals => { :latestepisode => @episodes.first } %>
  </tbody>
</table>
