<div class="hero-unit">
<h1>Welcome</h1>
<p>This is the Applied Zetetics client appointment managing system (CAMS). The service is currently in the
early beta stages at the moment, but watch this space for developments.</p>
<p><a class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>
<p>If you have an account on this system, please click <%= link_to "Sign in", new_user_session_path %> to
log in.</p>
