<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @practitioner_type.description %>
</p>


<%= link_to 'Edit', edit_practitioner_type_path(@practitioner_type) %> |
<%= link_to 'Back', practitioner_types_path %>
