<h3>Who is it for?</h2>
	<p>When I retrained as a counsellor after a career in IT, and started working, I was dismayed at how little there
	was out there to use technology to help counsellors administer their practice.</p>
	
	<p>Nowadays, most counsellors not in private practice are required to maintain or submit data
	for statistical purposes to justify funding, in addition to keeping their diaries up to date. And if
	we're in private practice, there is still billing and record-keeping to be maintained.</p>
	
	<p>Nor is it just counsellors: if you're in any field of healthcare - whether you're a podiatrist,
	physiotherapist, occupational therapist, or any other professional, you need to manage your
	appointments, client data, and waiting lists.</p>
	
	<p><strong>azcams</strong> is for people just like you.</p>

	<p>And, if you're only running a small practice, it's <em>free</em><sup>&dagger;</sup>. Because we believe you'll
	find azcams so useful, you'll tell your colleagues.</p>
<hr/>
<sup>&dagger;</sup> - free service does not have all the facilities of a paid account, and is limited to 10 clients.
For more details check <%= link_to('here', {:action => "welcome", :page_no => 4}) %>.

