<h2>Costs and features</h2>
<div id="features">
	<table class="table table-bordered">
		<thead>
			<th width="50%"></th>
			<th class="centred personal">Personal</th>
			<th class="centred professional">Professional</th>
			<th class="centred corporate">Corporate</th>
			
		</thead>
		<tbody>
			<tr>
				<td><strong>Cost</strong></td>
				<td class="centred personal">Free</td>
				<td class="centred professional">£tba/month</td>
				<td class="centred corporate">£tba/month</td>
			</tr>
			<tr>
				<td><strong>No of clients</strong> (total number of clients you can manage on this plan)</td>
				<td class="centred personal">10</td>
				<td class="centred professional">25</td>
				<td class="centred corporate">unlimited</td>
			</tr>
			<tr>
				<td><strong>Email interface </strong>(service that allows you to send out appointment notifications and correspondence by email)</td>
				<td class="centred personal"><i class="icon icon-ok"></i></td>
				<td class="centred professional"><i class="icon icon-ok"></i></td>
				<td class="centred corporate"><i class="icon icon-ok"></i></td>
			</tr>
			<tr>
				<td><strong>Text message notification/reminder </strong>(sends text messages to clients to notify/remind them of appointments)</td>
				<td class="centred personal"><i class="icon icon-remove"></i></td>
				<td class="centred professional"><i class="icon icon-ok"></i>&dagger;</td>
				<td class="centred corporate"><i class="icon icon-ok"></i></td>
			</tr>
			<tr>
				<td><strong>Document interface (mailmerge) </strong>(creates documents from your templates that you can print on your own printer)</td>
				<td class="centred personal"><i class="icon icon-ok"></i></td>
				<td class="centred professional"><i class="icon icon-ok"></i></td>
				<td class="centred corporate"><i class="icon icon-ok"></i></td>
			</tr>
			<tr>
				<td><strong>Own subdomain </strong>(allows you to have your own domain on the system, eg "acme.azcams.net")</td>
				<td class="centred personal"><i class="icon icon-remove"></i></td>
				<td class="centred professional"><i class="icon icon-ok"></i>&Dagger;</td>
				<td class="centred corporate"><i class="icon icon-ok"></i>&Dagger;</td>
			</tr>
			<tr>
				<td><strong>Multiple venues </strong>(allows you to book appointments for clients at multiple sites)</td>
				<td class="centred personal"><i class="icon icon-remove"></i></td>
				<td class="centred professional"><i class="icon icon-ok"></i></td>
				<td class="centred corporate"><i class="icon icon-ok"></i></td>
			</tr>
			<tr>
				<td><strong>Multiple practitioners </strong>(allows you to manage more than one practitioner from a single account)</td>
				<td class="centred personal"><i class="icon icon-remove"></i></td>
				<td class="centred professional"><i class="icon icon-remove"></i></td>
				<td class="centred corporate"><i class="icon icon-ok"></i></td>
			</tr>
		</tbody>
	</table>
	<p>&dagger; - some limitations on usage apply, and you will be asked to sign an acceptable use policy in regard
	to the use of text messaging.</p>
	<p>&Dagger; - Dependent on availability of your preferred subdomain name. Names are subject to some limitations on content
	and length to comply with Internet naming rules, and will be accepted at our sole discretion.</p>
</div>