<h3>Imagine...</h2>
	<p>
		Imagine running a practice where you didn't have to keep a paper
		diary.
	</p>
	<p>
		Imagine a service that allows you to book in or change client
		appointments wherever you are.
	</p>
	<p>
			Imagine having statistical information at your fingertips for reporting,
			EAPs, and invoicing.
	</p>
	<p>
				Imagine never having to sit down and write out another DNA letter.
	</p>
</p>
	<p>
		<strong>Now, you don't need to imagine. Because now, there's azcams.</strong>
	</p>
	<h3>Another way to manage your practice</h2>
	<p>
		As therapists, we at azcams know that paperwork and diary management are a chore.
		That's certainly true if you're a sole practitioner, but if you are part of a team, the
		difficulties multiply.
	</p>
	<p>
		We wrote azcams to solve <strong>our</strong> problems, and then decided that, if it
		did what we needed it to, it might do what other practitioners and professionals need, too.
	</p>
