<div class="hero-unit">
  <h1>Welcome!</h1>
  <p>to azCams - the Applied Zetetics Client & Appointment Management System</p>
  <p>azCams is a cloud-based system for counsellors and associated health
  professionals to use to manage their appointments and clients. It uses
  encryption and strong Internet security to maintain confidentiality, and
  is suitable for use by sole practitioners and large multi-site service
  providers, and everything in between.</p>
  <p>If you already have an account on azCams, use the Sign In button below,
  otherwise click on the Register button to create an account, or learn more
  by clicking Tell Me More.</p>
</div>
