<div class="page-header">
  <h1>
    Dashboard <small>for <%= current_user.fullname %></small>
   </h1>
</div>
<div class="alert alert-info">
  <legend>Hello!</legend><p>This is the main landing page, where you end up when you log in to azcams.
  The idea is that you'll see a summary of activity here, pending messages, upcoming
  notifications, and so on.</p>
  <p>Meanwhile, feel free to use the menus to navigate your way around the system.</p>
</div>
