<% if @page_no == 0 %>
  <%= render "welcome" %>
<% else %>
  <h2>azcams - Your complete client management solution</h1>
  <div class="well">
    <%= render "learn#{@page_no}" %>
  </div>
<% end %>
<% if @page_no > 1 %>
  <%= link_to(
    '<i class="icon icon-chevron-left icon-white"></i> Previous'.html_safe,
    {:action => "welcome", :page_no => @page_no-1}, :class => "btn btn-primary btn-large btn-info")
  %>
<% end %>
<% if @page_no < 4 %>
  <%= link_to(
    'Next <i class="icon icon-chevron-right icon-white"></i>'.html_safe,
    {:action => "welcome", :page_no => @page_no+1}, :class => "btn btn-primary btn-large btn-info")
  %>
<% end %>
<a class="btn btn-primary btn-large">
  Sign me up!
</a>
