<%= render "welcome" %>
<%= link_to('Tell me more!', {:action => "learn", :page_no => @page_no+1}, :class => "btn btn-primary btn-large btn-info") %>
<%= link_to(
  'Sign in', new_user_session_path, :class => "btn btn-warning btn-large"
) %>

<a class="btn btn-primary btn-large">
  Sign me up!
</a>
