// Place all the styles related to the static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#features .centred {
  vertical-align:middle; text-align:center;
}

#features .personal {
#    background-color: #CD7F32;
    background-color: #d9BF78;
}

#features .professional {
#   background-color: #c0c0c0;
   background-color: #d8d8d8;
}

#features .corporate {
#    background-color: #FFD700;
    background-color: #FFEA80;
}

