<% unless appointment.nil? %>
    <div class="dropdown">
			<% unless appointment.id.nil? && appointment.sequence > (appointment.allocation.appointment_count || 1) %>
				<%= render partial: 'appointment', locals: { appointment: appointment } %>				
        
        <% if 1 == 2 %>
            <%= sequencelabel(appointment) %>
            <%= link_to appointment.fullname, book_appointments_path(
              allocation_id: appointment.allocation_id,
              appointment_date: appointment.appointment_date,
              appointment_time: appointment.appointment_time,
              slot_id: appointment.slot_id
            ), remote: true, method: :post, :class => 'btn btn-mini btn-primary' %>
        <% end %>
		  </div>
		<% end %>
<% end %>

