<% if @appointment.allocation.practitioner.nil? %>
	<!-- we need to select a practitioner -->
<% end %>
<div id="list-appointments">
	<%= render partial: "appointments", locals: { appointment: @appointment, date: @date } %>
</div>

<div id="list-templates">
		<%= render :partial => "templates", locals: { templatelist: @templates } %>
	</div>
