<div class="page-header">
  <h1>New appointment<br>
    <small>
      <%= @appointment.allocation.description %>
      with <%= @appointment.allocation.practitioner.fullname %>
      for <%= @appointment.allocation.episode.client.fullname %>
    </small>
  </h1>
</div>

<%= render :partial => 'form' %>
