<div class="page-header">
  <h1>New appointment<br>
    <small>
      <%= @allocation.description %>
      <% unless @allocation.practitioner.nil? %>
	      with <%= @allocation.practitioner.fullname %>
	    <% end %>
      for <%= @allocation.episode.client.fullname %>
    </small>
  </h1>
</div>

<%= render :partial => 'form' %>
