<% if current_user.print_jobs.unprinted.count > 0 %>
  <div class="alert alert-success">
    <h4>Print Queue</h4>
    You have <%= current_user.print_jobs.unprinted.count %> items waiting to be printed; the oldest item
    was submitted <%= time_ago_in_words(current_user.print_jobs.unprinted.first.created_at) %> ago.<br/>
    <%= link_to "Print", download_print_jobs_path, :class => 'btn btn-mini' %>
  </div>
<% end %>